footer{
    box-sizing:border-box;
    max-width: 425px;
    position: relative;
}
.creator{
    max-width: 425px;
    box-sizing:border-box;
}
.creator::before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 2%;
    width: 95%;
    border-top:1px solid rgb(231,231,231);
}
.creator_name{
    height: 65px;
    box-sizing:border-box;
    padding: 18px;
    display: flex;
    align-items:center;
    font-size: 1.2em;
    font-weight: 600;
    color:rgb(116,116,116);
}
.creator_note{
    color:rgb(148, 148, 148);
    padding: 18px;
    padding-top: 0;
    word-wrap: break-word;
    font-size: .7em;
}
.comment{
    max-width:425px;
}
.comment_cloud{
    position: absolute;
    width: 309px;
    height: 173px;
    top:109px;
    right: 0;
    z-index:-1;
    display: flex;
}
.comment_cloud img{
    width: 100%;
}
