@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
header{
    box-sizing:border-box;
    max-width: 425px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    display:flex;
}
header .icon{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    flex-shrink: 0;
}
header .title{
    box-sizing:border-box;
    height: 65px;
    width: 337px;
    flex-shrink:1;
    border:1px solid rgb(116,116,116);
    text-align: center;
    line-height: 65px;
    font-size: 1.2em;
    color:rgb(85, 85, 85);
    font-family: 'Noto Sans TC', sans-serif;
}
header .btn{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    flex-shrink:0;
}
