header{
    max-width: 375px;
    background-image: url("../img/comic/IMG_4787.JPG");
    background-repeat:no-repeat;
    background-size:100% auto;
    /* background-size:cover; */
    height: 279px;
    box-sizing: border-box;
    border:1px solid #000;
    position: relative;
}
.description{
    width: 170px;
    height: 108px;
    position: absolute;
    left: 44px;
    top: 126px;
    font-size: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

}
.description .txt{
    font-size: 10px;
    width: 100%;
}
.description .views{
    display: inline-block;
    width: 41px;
    height: 13px;
}
.description .like{
    display: inline-block;
    width: 41px;
    height: 13px;
}
.description .button{
    margin-top: auto;
}
.description button{
    background: none;
    border:none;
    border:1px solid #000;
    border-radius:29px ;
    width: 95px;
    height: 29px;
}