footer{
    box-sizing:border-box;
    max-width: 425px;
    position: relative;
}
.creator{
    max-width: 425px;
    box-sizing:border-box;
}
.creator::before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 2%;
    width: 95%;
    border-top:1px solid rgb(231,231,231);
}
.creator_name{
    height: 65px;
    box-sizing:border-box;
    padding: 18px;
    display: flex;
    align-items:center;
    font-size: 1.2em;
    font-weight: 600;
    color:rgb(116,116,116);
}
.creator_note{
    color:rgb(148, 148, 148);
    padding: 18px;
    padding-top: 0;
    word-wrap: break-word;
    font-size: .7em;
}
.comment{
    max-width:425px;
    height: 360px;
}
.comment::before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 2%;
    width: 95%;
    border-top:1px solid rgb(231,231,231);
}
.comment_menu{
    height: 149px;
}
.menu_top{
    height: 80px;display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu_top .menuBtn_top{
    border:1px solid rgb(231,231,231);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(50,50,50)
} 
.menu_top .collect{
    width: 98px;
    height: 34px;
}
.menu_top .like{
    width: 84px;
    height: 34px;
}
.menu_top .like img{
    height: 43%;
    margin-left: 5px;
}
.menu_top .share{
    width: 81px;
    height: 34px;
}
.menu_bottom{
    height: 69px;
    color: rgb(116,116,116);
    display: flex;
    align-items: center;
}
.menu_bottom .menuBtn_bottom{
    width: 100px;
    height: 34px;
    display: flex;

}
.menu_bottom .like_btn{
    margin-left: 19px;
}
.menu_bottom .like_icon{
    width: 35px;
    height: 34px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.menu_bottom .like_icon img{
    height: 80%;
}
.menu_bottom .comment-icon{
    width: 35px;
    height: 34px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.menu_bottom .comment-icon img{
    height: 80%;
}
.like_number{
    line-height: 34px;
    padding-left: 11px;
}
.comment_number{
    line-height: 34px;
    padding-left: 11px;
}
.comment_area{
    position: relative;
}
.comment_cloud{
    position: absolute;
    width: 309px;
    height: 173px;
    top:109px;
    right: 0;
    z-index:-1;
    display: flex;
    /* justify-content: flex-end; */
}
.comment_cloud img{
    width: 100%;
}
.commentBox{
    display: flex;
    flex-direction: column;
}
.comment_head{
    display: flex;
    position: relative;
    padding-left: 19px;
    margin-top: 27px;
}
.comment_head .userName{
    margin-right: auto;
    height: 31px;
    line-height:31px;
    font-weight: 700;
    font-size: 1.2em;
}
.comment_head .commentTime{
    width: 110px;
    height: 31px;
    /* border:1px solid #000; */
    line-height: 31px;
    text-align: center;
    font-size: 14px;
    
}
.comment_head .commentReport{
    width: 46px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 14px;    
    box-sizing: border-box;
}
.comment_head .commentReport::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    bottom: 0;
    margin-left: -8px;
    border-left: 1px solid #000;
}
.comment_container{
    padding-left: 19px;
}
.comment_container .icon_best{
    width: 66px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
}
.comment_container .icon_best img{
    width: 90%;
}
.comment_container .comment_contents{
    line-height: 31px;
}
.comment_container .comment_contents::after{
    content:"";
    clear: both;
}
.comment_like{
    width: 118px;
    height: 20px;
    background-color: #ccc;
    margin-top: 27px;
    margin-left: auto;
    margin-bottom: 27px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
}