@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
header{
    box-sizing:border-box;
    max-width: 425px;
    height: 65px;
    /* border:1px solid rgb(116,116,116); */
    display:flex;
}
header .icon{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    /* border:1px solid rgb(116,116,116); */
    flex-shrink: 0;
    display: flex;
    
}
header .icon img{
    width: 75%;
    display: block;
    margin: auto;
}
header .title{
    box-sizing:border-box;
    height: 65px;
    width: 425px;
    flex-shrink:1;
    padding-left: 9px;
    text-align: left;
    line-height: 65px;
    font-size: 1.2em;
    color:rgb(85, 85, 85);
    font-family: 'Noto Sans TC', sans-serif;
}
header .btn{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    /* border:1px solid rgb(116,116,116); */
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}
header .btn img{
    height: 18px;
}
.btn .btn_menu{
    position: absolute;
    border:1px solid rgb(211, 211, 211);
    bottom: -37px;
    right: 0;
    background-color: #fff;
    display:none;
}
.btn .btn_menu-on{
    display: block;
}
.btn_menu .btn_share{
    box-sizing: border-box;
    width:135px;
    height: 37px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.btn_menu .btn_share img{
    height: 37%;
    margin-left: 6px;
}
