.side{
    max-width: 425px;
    margin: 1px 0;
    height: 47px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side img{
    height: 100%;
}