@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
header{
    box-sizing:border-box;
    max-width: 375px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    display:flex;
}
header .icon{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    flex-shrink: 0;
}
header .title{
    box-sizing:border-box;
    width: 287px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    padding: 10px;
    font-size: 1.2em;
    color:rgb(85, 85, 85);
    display:flex;
    align-items:center;
    font-family: 'Noto Sans TC', sans-serif;
}
header .btn{
    box-sizing:border-box;
    width: 44px;
    height: 65px;
    border:1px solid rgb(116,116,116);
    flex-shrink:0;
}
